extends ../parts/layout.jade
block vars
    - page = 'Vehiculos';
block main
    .main-heading
        .main-title
            ol.breadcrumb
                li
                    a(href="./index.jade") Inicio
                li.active Vehiculos
        .main-filter
            form.main-filter__search
                .input-group
                    input.form-control(type="text", placeholder="Buscar...")
                    span.input-group-btn
                        button.btn.btn-default(type="button")
                            .fa.fa-search
    .container-fluid.half-padding
        .template.template__table_data
            
                .row
                    
                    .col-md-12
                        .panel.panel-info
                            .panel-heading
                                h3.panel-title Vehiculos de transporte publico
                                div
                                    .row
                                        .col-md-4
                                            select.selectpicker(id="lineas" onchange="validarCarro(this)")
                                                option(value="0") Seleccionar Opcion
                                                each Lineas in lineas                                
                                                    option(value="#{Lineas.idlinea}") #{Lineas.nombre}
                                        .col-md-8
                                            button(class="btn btn-primary"  data-toggle="modal" onclick="NuevoCarro()") Nuevo
                                                i(class="fa fa-plus-circle fa-fw") 
                                                                  
                            .panel-body
                                body
                                    div(id="DatosCarro")
                                    div(id="idEstado")  
                                
                                    .container-fluid
                                        
                                            table(id="example" class="table datatable display table-hover" cellspacing="0" width="100%")
                                                thead
                                                    tr
                                                        th Linea
                                                        th Placa
                                                        th Chofer
                                                        th DNI
                                                        th ESTADO
                                                        th OPCIONES
                                                tbody                   
                                                            
                                                                    

                                                                              
                                                                                                                                            
                                                
                                    
block css
    link(href='../public/libs/datatables/media/css/dataTables.bootstrap.min.css', rel='stylesheet')
    link(href='../public/libs/selectize/dist/css/selectize.default.css', rel='stylesheet')
    link(href='../public/libs/selectize/dist/css/selectize.bootstrap3.css', rel='stylesheet')
    link(href='../public/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css', rel='stylesheet')
    link(href='../public/libs/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css', rel='stylesheet')
    link(href='../public/libs/bootstrap-select/dist/css/bootstrap-select.min.css', rel='stylesheet')
block js
    script(src='../public/libs/datatables/media/js/jquery.dataTables.min.js')
    script(src='../public/libs/datatables/media/js/dataTables.select.js')
    script(src='../public/libs/datatables/media/js/dataTables.bootstrap.js')
    script(src='../public/libs/selectize/dist/js/standalone/selectize.min.js')
    script(src='../public/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')
    script(src='../public/libs/bootstrap-select/dist/js/bootstrap-select.min.js')



    if !release
        script(src='../public/js/myjava.js')
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdO3AMO9S6Q27IOYC44SAYRcrxGVZxSJA")
        script(src="../socket.io/socket.io.js")    
        script(src="../public/js/marker.js")
        script(src="../public/js/gmaps.js") 

        